tellopy
av
image
click
numpy>=1.21.4

# https://raw.githubusercontent.com/ultralytics/yolov5/master/requirements.txt
matplotlib>=3.2.2
opencv-python>=4.1.1
Pillow>=7.1.2
PyYAML>=5.3.1
requests>=2.23.0
scipy>=1.4.1  # Google Colab version
torch>=1.7.0,!=1.12.0  # https://github.com/ultralytics/yolov5/issues/8395
torchvision>=0.8.1,!=0.13.0  # https://github.com/ultralytics/yolov5/issues/8395
tqdm>=4.41.0
protobuf<4.21.3  # https://github.com/ultralytics/yolov5/issues/8012

# Plotting ------------------------------------
pandas>=1.1.4
seaborn>=0.11.0